:root {
  --primary-color: #2E2F42;
  --secondary-color: #404BBF;
  --slate-color: #434455;
  --iris-color: #4D5AE5;
  --white-color: #FFFFFF;
  --cloud-color: #F4F4FD;
  --corner-color: #E7E9FC;
  --transition-hover: all 0.3s ease-in-out;
  --font-stack: "Roboto", sans-serif;
  --logo-font-stack: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--slate-color);
    background-color: var(--white-color);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
}

.button {
    background-color: var(--iris-color);
    color: var(--white-color);
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-family: var(--font-stack);
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.64px;
    border: none;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
}

.button:focus,
.button:hover {
    background-color: var(--secondary-color);
}

.title-secondary {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.72px;
    color: var(--primary-color);
    margin-bottom: 24px;
    text-align: center;
}

.text {
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin: 0;
}

.sub-title {
    margin: 0 0 8px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 0.4px;
}

.logotype {
    font-family: var(--logo-font-stack);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    text-decoration: none;
}

.logotype .alt {
    color: var(--primary-color);
}

.logotype:focus,
.logotype:hover {
    color: var(--primary-color);
}

.header {
    border-bottom: 1px solid var(--corner-color);
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0 0 0 76px;
    padding: 0;
}

.header-menu-item {
    position: relative;
}

.header-menu-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
    display: block;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--secondary-color);
}

.header-address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header-contacts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-contacts li a {
    text-decoration: none;
    color: var(--slate-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.header-contacts li a:hover,
.header-contacts li a:focus {
    color: var(--secondary-color);
}

.hero {
    background-color: var(--primary-color);
    padding: 188px 0;
    text-align: center;
}

.hero h1 {
    margin: 0 0 48px;
    color: var(--white-color);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.section {
    padding: 120px 0;
}

.values-list {
    list-style: none;
    margin: 72px 0 0;
    display: flex;
    gap: 24px;
    padding: 0;
}

.values-list-item {
    flex: 1;
}

.cloud {
    background-color: var(--cloud-color);
}

.portfolio-list,
.team-list {
    list-style: none;
    padding: 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list li {
    background-color: var(--white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
    flex: 1;
}

.team-list li h3.sub-title {
    margin: 32px 0 8px;
    text-align: center;
}

.team-list li p.text {
    margin: 0 0 32px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-list li {
    flex-grow: 1;
    width: calc((100% - 48px) / 3);
}

.portfolio-list li h3.sub-title {
    margin: 32px 0 8px 0;
}

.portfolio-list li p.text {
    margin: 0 0 32px 0;
}

.footer {
    background-color: var(--primary-color);
    padding: 100px 0;
    display: flex;
    align-items: baseline;
    gap: 120px;
}

.footer .logotype span{
    color: var(--cloud-color);
}

.footer p {
    margin: 16px 0 0;
    color: var(--cloud-color);
    flex: 1;
}

.lh-fix {
    line-height: 1.2;
}