:root {
  --primary-color: #2E2F42;
  --secondary-color: #404BBF;
  --slate-color: #434455;
  --iris-color: #4D5AE5;
  --white-color: #FFFFFF;
  --cloud-color: #F4F4FD;
  --corner-color: #E7E9FC;
  --transition-hover: all 0.3s ease-in-out;
  --font-stack: "Roboto", sans-serif;
  --logo-font-stack: "Raleway", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--slate-color);
    background-color: var(--white-color);
}

.container {
    margin: 0 auto;
}

.button {
    background-color: var(--iris-color);
    color: var(--white-color);
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.64px;
}

.button:focus,
.button:hover {
    background-color: var(--secondary-color);
}

.title-secondary {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.72px;
    color: var(--primary-color);
    margin-bottom: 24px;
    text-align: center;
}

.text {
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin: 0;
}

.sub-title {
    margin: 0 0 8px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 0.4px;
}

.logotype {
    font-family: var(--logo-font-stack);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    text-decoration: none;
}

.logotype .alt {
    color: var(--primary-color);
}

.logotype:focus,
.logotype:hover {
    color: var(--primary-color);
}

.header-contacts li a,
.header-menu li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.header-contacts li a {
    color: var(--slate-color);
    font-weight: 400;
}

.header-contacts li a:hover,
.header-menu li a:hover {
    color: var(--secondary-color);
}

.header-contacts li a:focus,
.header-menu li a:focus {
    color: var(--secondary-color);
}

.header-address {
    font-style: normal;
}

.header-contacts {
    list-style: none;
    margin: 0;
}

.hero {
    background-color: var(--primary-color);
}

.hero h1 {
    margin: 0 0 48px;
    color: var(--white-color);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.values-list {
    list-style: none;
    margin: 72px 0 0;
}


.cloud {
    background-color: var(--cloud-color);
}

.portfolio-list,
.team-list {
    list-style: none;
}

.team-list li {
    background-color: var(--white-color);
}

.team-list li h3.sub-title {
    margin: 32px 0 8px;
    text-align: center;
}

.team-list li p.text {
    margin: 0 0 32px;
    text-align: center;
}

.portfolio-list li h3.sub-title {
    margin: 32px 0 8px 15px;
}

.portfolio-list li p.text {
    margin: 0 0 32px 15px;
}

.footer {
    background-color: var(--primary-color);
}

.footer .logotype span{
    color: var(--cloud-color);
}

.footer p {
    margin: 16px 0 0;
    color: var(--cloud-color);
}